.contatoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2A3055;
}

.contatoContent {
  display: flex;
  flex-direction: row;
  gap: 150px;
  background-color: #ffffff;
  padding: 100px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageContainer img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.iconItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: #333;
}

.link {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

.link:hover {
  text-decoration: underline;
}

.iconItem p {
  margin: 0;
}
